<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo">
        <img src="svg/sprite.svg#Logo" alt="Logo" />
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item is-active is-current">
            <a href="/" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Home"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item is-active is-next">
            <a href="/projects.html" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Bulb"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="/about.html" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Profile"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Message"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Calendar"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Twitter"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Behance"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <svg class="icon">
                <use xlink:href="svg/sprite.svg#Dribbble"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <svg class="icon" id="theme-button">
                <use class="dark-icon" xlink:href="svg/sprite.svg#moon"></use>
                <use class="light-icon" xlink:href="svg/sprite.svg#Sun"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
