<section class="hero section">
  <div class="container container__inner">
    <div class="hero__wrapper">
      <h1 class="title">
        Hello!
        <svg class="icon icon-emoji">
          <use xlink:href="svg/sprite.svg#Hello"></use>
        </svg>
        <br />
        My name is Name <br />
        I’m a Product <span>Designer</span>
      </h1>
      <p class="info">
        Let me help you grow your business and make your product look pretty while at it 
      </p>
      <a href="#" class="btn">Say Hello</a>
    </div>
  </div>
</section>
