<section class="projects section">
    <div class="container container__inner">
      <div class="projects__wrapper content">
        <div class="projects__item">
            <div class="projects__item-data">
                <h2 class="title">
                    Remotely
                </h2>
                <p class="info">
                    Remotely is a remote friendly-company — with our headquarters in San Francisco, a second office in LA, and a strong commitment to ensuring people can do great work here and thrive without having to live near an office. This role is open to candidates across the U.S.
                </p>
                <a href="#" class="btn">View project</a>
            </div>
            <div class="projects__item-img">
                <img src="img/project-1.png" alt="">
            </div>
        </div>
        <div class="projects__item">
            <div class="projects__item-data">
                <h2 class="title">
                    Brutal Design Library
                </h2>
                <p class="info">
                    Brutal is a remote friendly-company — with our headquarters in San Francisco, a second office in LA, and a strong commitment to ensuring people can do great work here and thrive without having to live near an office. This role is open to candidates across the U.S.
                </p>
                <a href="#" class="btn">View project</a>
            </div>
            <div class="projects__item-img">
                <img src="img/project-2.png" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>
  